.sidebar {
  display: none;
}

.sidebar ul {
}

.content-primary img {
  width: 100%;
}

.content-secondary {
}

@media screen and (orientation: portrait), screen and (max-width: 801px)
{
}

@media screen and (min-width: 801px) and (orientation: landscape)
{
  .sidebar {
    display: block;
    width: 20%;
    float: left;
  }
  
  .main {
    margin-left: 30px;
    width: 75%;
    float:right;
  }

  .content-primary img {
    width:auto;
    float:right;
  }
}

@media screen and (min-width: 1025px) and (orientation: landscape)
{
  .content-primary {
    width: 70%;
    float: left;
  }

  .content-primary img {
    width:auto;
    padding:1%;
    float:right;
  }

  .content-secondary {
    width: 28%;
    float: right;
  }

}
