
<ul>
  <li><a href="index.html">Start</a></li>
  <li><a href="responsive-web/">Responsive Web Design</a></li>
  <li><a href="responsive-web-step1/">Responsive Web Design, Hands-On Step 1</a></li>
  <li><a href="responsive-web-step2/">Responsive Web Design, Hands-On Step 2</a></li>
  <li><a href="responsive-web-step3/">Responsive Web Design, Hands-On Step 3</a></li>
  <li><a href="responsive-web-step4/">Responsive Web Design, Hands-On Step 4</a></li>
  <li><a href="planets/">Planeten</a></li>
  <li><a href="planets-raw/">Planeten, Hands-On</a></li>
  <li><a href="meetform/new.xml">Meetform</a></li>
  <li><a href="http://core.epoko.net/journals/?uri=7b6630a7dbf4751ddd86a147ff210f86/st-html5-responsive">EPOKO.web Journals</a></li>
</ul>

<ul>
  <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
  <li><a href="http://jquerymobile.com">jQuery Mobile</a></li>
  <li><a href="http://www.w3.org/TR/css3-mediaqueries/">Media Queries - W3C Recommendation 19 June 2012</a></li>
  <li><a href="http://www.agencexml.com/xsltforms/">XSLTForms</a></li>
  <li><a href="http://www.w3schools.com/html5">w3schools HTML5</a></li>
  <li><a href="http://html5doctor.com/html5-custom-data-attributes/">HTML5 Doctor: Data Attributes</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>
