body {
    margin: -5px; /*padding-top: 60px;*/ /* 60px to make the container go all the way to the bottom of the topbar */
}
input,
select,
textarea {
    width:95%;
}
textarea {
    height:200px;
}
.field {
    margin-right:-20px;
}
.aid-button {
    display: none;
}

/*
.content-primary {
    position:relative;
    left:0px;
    right:0px;
    padding:5px;
    //border: 1px solid red;
}

.field {
    text-align: right;
}

#field-forename {
    float:left;
    width:50%;
}

#field-forename label {
    display:none;
    visibility:hidden;
}

#field-forename input {
    width:60%;
}

#field-forename:before {
    content: " Name ";
}

#field-surname {
    //border: 1px solid green;
    width:50%;
    float:right;
}

#field-surname label {
    display:none;
    visibility:hidden;
}

#field-surname input {
    width:99%;
}

#field-email {
}

#field-telephone {
}

#field-studySubject {
}

#field-studyDegree {
}

#field-studyEnd input {
    width:76%;
}

#field-notes {
}

#field-notes label {
    display:none;
}

#field-notes textarea {
    width:99%;
    height:200px;
}

#field-submit {
    position:absolute;
    top:5px;
    right:5px;
}

.xforms-label {
}

.xforms-value {
    width:80%;
}
*/