.figure {
  float: right;
  margin-buttom: 0.5em;
  margin-left: 2.53164557%; /* 12px / 474px */
  width: 48.7341772%; /* 231px / 474px */

  background: white;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.figure img {
  display: block;
  margin: 0 auto;
}

.figcaption {
  font-size: 0.625em; // 10px/16px
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0.5em 0 0;
  -moz-text-shadow: 0 1px 0 #202020;
  -webkit-text-shadow: 0 1px 0 #202020;
  text-shadow: 0 1px 0 #202020;
}
