// we can or should include other used stylesheets(e.g., reset.css) here
@import url("vendor/reset.css");
@import url("figure.less");

/* base styles */
p {
  margin-bottom: 1em;
}

h1 {
  clear: both;
  font-size: 3em; /* = 48px / 16 px: target / context font size = h1 targetted / reseted body font size */
  font-style: italic;
  font-weight: normal;
  padding: 0.8em 5.33333333% /* = 48px / 900px = targeted padding width / content container width */;
}

h2 {
  font-size: 1.5em; /* 24px / 16 px: target / context font size = h1 targetted / reseted body font size */
}

h1 a {
  color: #747474;
  font: bold 0.458333333333333em Calibri, Optima, Arial, sans-serif; /* 11px / 24px */
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
}

a {
  font-weight: bold;
  text-decoration: none;
}
// TODO why do we need this?
a:hover,
a:focus {
  text-decoration: underline;
}

/* layout */
// .page is our canvas, targeted width ~ 960px
.page {
  /* we use fluid layout instead of fixed-width */
  width: 90%; /* ~960px : arbitrarily choosen, as a result from trial and error. */
  margin: 0 auto;
  max-width: 60em; // (960 /16px)
 // background-color: green;
}

// .content: canvas - 2*gutter width , targeted width ~ 960px
.content {
  margin: 0 auto 53px;
  width: 93.75%; /* 900px / 960px*/
//  background-color: blue;
}

.primary {
  float: left;
  margin: 0 auto 4em;
  width: 62.8888889%; /* 556px / 900px */
 // background-color: red;
}

.primary .header {
  font: normal 0.9375em RockoFLF, Omnes, Helvetica, sans-serif;	/* 15px / 16px */
  letter-spacing: 0.1em;
  margin-bottom: 1.5em;
}

.primary .figure {
  float: right;
  margin-left: 2.517985611%; /* 14px / 556px */
  width: 39.928057554%; /* 222px / 556px */
  margin-bottom: 0.15em;
  padding: 0;
}

.secondary {
  margin: 0 auto 4em;
  float: right;
  width: 36.7777778%; // 331px / 900px
  //background-color: yellow;
}

.secondary h2 {
  font: normal 1.1875em RockoFLF, Omnes, Helvetica, sans-serif; // 19px / 16px
  margin-bottom: 1.5em;
}

.secondary li {
  margin-left: 1.333333333%; /* 12px / 900px */
}

.secondary a:hover {
  text-decoration: none;
}

.footer {
  clear: both;
  font-size: 0.6875em; /* 11px / 16px */
  letter-spacing: 0.1em;
  margin: 3em auto;
  text-align: center;
  text-transform: uppercase;
}

body {
  color: #2C2C2C;
  font: normal 101% Cambria, Georgia, serif;
  line-height: 1;

  background-color:rgba(0,0,0,0);
  background-image: url(/assets/images/back.png);
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-size: initial;
}

/* flexible images and friends */
/*First discovered by designer Richard Rutter (http://bkaprt. com/rwd/11/) */
img,
video,
embed,
object {
  max-width: 100%;
}



// Micro clearfix hack http://nicolasgallagher.com/micro-clearfix-hack/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

// NAV
// @see http://coding.smashingmagazine.com/2012/02/13/progressive-and-responsive-navigation/

#main-nav {
  //background-color: red;

  margin: 0 auto 53px;
  width: 93.75%; /* 900px / 960px*/
  // background-color: blue;
}

.main-nav {
  //.cf;
  text-shadow: 0 1px 1px #fff;

  // make it inline
  ul, li, a {
    float: left;
  }

  ul {
    background: #eee;
    border: 1px solid #ddd;
    .border-radius();
    .linear-gradient();
  }

  li {
    position: relativ;
    border-right: 1px solid #ddd;
  }

  li:last-child {
    border-right: none;
  }

  li:hover {
    a {
      .linear-gradient(#dfdfdf, #c0bebe, 100%);
    }

    .children {
      a {
        background: none;
      }
    }
  }

  a {
    color: inherit; // inherit from parent element: <div class="nav">...</div>
    display: block; // make it block
    text-decoration: none; // not underline please

    //TODO calculate for RWD
    height: 35px;
    line-height: 35px;
    margin: 3px;
  }

}

.box-shadow (@x: 0, @y: 5px, @blur: 5px, @spread: -5px, @color: #000) {
  -moz-box-shadow: @x @y @blur @spread @color;
  -webkit-box-shadow: @x @y @blur @spread @color;
  box-shadow: @x @y @blur @spread @color;
}

.border-radius (@radius: 5px) {
  border-radius: @radius;

}

.linear-gradient (@start: #fff, @end: #ddd, @percent: 100%) {
  background: @start; /* Old */
  background: -moz-linear-gradient(top,  @start 0%, @end @percent); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(@percent,@end)); /* Chrome, Safari 4+ */
  background: -webkit-linear-gradient(top,  @start 0%,@end @percent); /* Chrome 10+, Safari 5.1+ */
  background: -o-linear-gradient(top,  @start 0%,@end @percent); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  @start 0%,@end @percent); /* IE 10+ */
  background: linear-gradient(top,  @start 0%,@end @percent); /* W3C */
}

@media only screen
and (max-width: 800px) {
   .main-nav {
      ul {
         border: none;
         background: none;
         .border-radius(0);
      }
      li {
         border-right: none;
      }
      a {
         border: 1px solid #ddd;
         .border-radius();
         font-size: 1.2em;
         height: auto;
         .linear-gradient();
         line-height: 1em;
         padding: 15px;
      }

      .btn-navbar {
        display: none;
      }
   }
}
@media screen and (max-width: 600px) {
  .hero-unit,
  .primary,
  .secondary,
  .footer {
    float: none;
    width: auto;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
  color:red;
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */

  color:yellow;
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */

  color:green;
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*
@media only screen and (min-width: 35em) {
    // Style adjustments for viewports that meet the condition
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    // Style adjustments for high resolution devices
}
*/
