@import "vendor/bootstrap/less/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "vendor/bootstrap/less/responsive.less";

figure {
  float: right;
  margin-buttom: 0.5em;
  margin-left: 2.53164557%; /* 12px / 474px */
  width: 48.7341772%; /* 231px / 474px */
}
