@import url("reset.css");

/* base styles */
p {
	margin-bottom: 1em;
}

/* layout */
#page {
    /* we use fluid layout instead of fixed-width */
    width: 90%; /* ~960px : arbitrarily choosen, as a result from trial and error. */
    margin: 36px auto;

    /* for debugging *
    /*
    border: 1px solid  #897048;
    border-style: dotted;
    */
}

.content {
    margin: 0 auto 53px;
    width: 93.75%; /* 900px / 960px*/
}

.content section {
    float: left;
    width: 62.8888889% /* 556px / 900px */
}

.content aside {
    float: right;
    width: 36.7777778%; /* 331px / 900px */
}

body {
    color: #2C2C2C;
    font: normal 101% Cambria, Georgia, serif;
    line-height: 1;

    /* background-color:rgba(0,0,0,0); */
    background-image: url(/assets/images/back.png);
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: initial;
}

h1 {
    font-size: 1.5em; /* = 24px / 16 px: target / context font size = h1 targetted / reseted body font size */
    font-style: italic;
    font-weight: normal;
    padding: 0.8em 5.33333333% /* = 48px / 900px = targeted padding width / content container width */;
}

h2 {
    font-size: 1.25em; /* 20px / 16 px: target / context font size = h1 targetted / reseted body font size */
}

h1 a {
    color: #747474;
    font: bold 0.458333333333333em Calibri, Optima, Arial, sans-serif; /* 11px / 24px */
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}

section figure {
  float: right;
  margin-buttom: 0.5em;
  margin-left: 2.53164557%; /* 12px / 474px */
  width: 48.7341772%; /* 231px / 474px */
}

/* flexible images and friends */
/*First discovered by designer Richard Rutter (http://bkaprt. com/rwd/11/) */
img,
video,
embed,
object {
  max-width: 100%;
}

footer {
  clear: both;
  font-size: 0.6875em;	/* 11px / 16px */
  letter-spacing: 0.1em;
  margin: 3em auto;
  text-align: center;
  text-transform: uppercase;
  width: 60%;
}

/* TODO responsive layout */
