@import "vendor/bootstrap/less/bootstrap.less";

// flexible images and friends 
//First discovered by designer Richard Rutter (http://bkaprt. com/rwd/11/)
img,
video,
embed,
object {
  max-width: 100%;
}

/*
body {
  padding-top: 40px;
  padding-bottom: 40px;
}
*/

// TODO recalculate for twitter bootstrap
figure {
  float: right;
  margin-buttom: 0.5em;
  margin-left: 2.53164557%; /* 12px / 474px */
  width: 48.7341772%; /* 231px / 474px */
}


/*
.baz(@col) {
  #grid > .core(@gridColumnWidth, @gridGutterWidth);
}

#page {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();

  .content {
    .makeRow();
  }


  section#main {
    .makeCo;
  }

  aside#other {
    .span3;
  }
}
*/

/* layout */
/*
.page {
    // we use fluid layout instead of fixed-width 
    width: 90%; // ~960px : arbitrarily choosen, as a result from trial and error. 
    margin: 36px auto;
}
*/


.page {
  padding-right: @gridGutterWidth;
  padding-left: @gridGutterWidth;
  .clearfix();
}

.content {
  section {
    .col(9);
  }

  aside{
    .col(3);
  }
}

/*
.content {
  //#grid > .fluid(10, 10);
  //.makeRow();
  background-color: red;

  #grid > .core .span(12);

  section {
    #grid > .core .span(6)

  //  .makeColumn(9);
  }

  aside {
    #grid > .core .span(6)
 //   .makeColumn(3);
  }
}
*/

/*
.tabs {
  .nav;
  .nav-tabs;
}

.tabs > .selected {
  .nav-tabs > .active;
}
*/
