
@media only screen and (max-width: 800px) {
    body > *:first-child:before {
	content: "max-width: 800px";
    }
}

@media screen and (max-width: 600px) {
    body > *:first-child:before {
	content: "max-width: 600px";
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body > *:first-child:before {
	content: "Smartphones (portrait and landscape)";
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    body > *:first-child:before {
	content: "Smartphones (landscape)";
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body > *:first-child:before {
	content: "Smartphones (portrait)";
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body > *:first-child:before {
	content: "iPads (portrait and landscape)";
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    body > *:first-child:before {
	content: "iPads (landscape)";
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body > *:first-child:before {
	content: "iPads (portrait)";
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    body > *:first-child:before {
	content: "Desktops and laptops";
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    body > *:first-child:before {
	content: "Large screens";
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    body > *:first-child:before {
	content: "iPhone 4";
    }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*
@media only screen and (min-width: 35em) {
    // Style adjustments for viewports that meet the condition
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    // Style adjustments for high resolution devices
}
*/
